
*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Fascinate", system-ui, 'Trebuchet MS';
    font-weight: 400;
    font-style: normal;
}

.bg-color {
    background-color: #333 ;
}


.btn-pipo{
    background: rgb(185, 68, 68);
    color: whitesmoke;
    border-color: rgb(212, 70, 93);

    &:hover{
        background-color: rgb(68, 192, 144);
        color: black;
    }
}

.modal-content .btn-pipo {
    /*width: 50%;*/
    margin: auto;
}

.btn-ver-mas, .btn-warning {
    width: 50%;
    margin: auto;
    margin-top: 5px;
    background: rgb(96, 184, 88);
    color: whitesmoke;
    border-color: rgb(90, 185, 52);

    &:hover{
        background-color: rgb(68, 192, 144);
        color: black;
    }
}

#cancelar-compra, #confirmar-compra, #cuotas {
    margin: 5px 2px 2px 2px;
}


#productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    background-color: #b14fa4;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 37px 4px;
}

.producto {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(37, 39, 196, 0.35) 0px 22px 37px 4px;

    &:hover {
        transform: scale(1.01);
        transition: all 0.2s ease;
    }
}

.img-chiquita img {
    max-width: 7rem;
    max-height: 7rem;
    display: block;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}



/* --- Estilos para la Modal --- */
.modal {
    /*display: none;*/ 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative; /* posicionar el botón de cerrar */
}

.detalle-producto-contenido {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.detalle-producto-contenido img {
    max-width: 80%;
    margin: auto;
}

h3 {
    font-weight: bold;
}

.producto p :last-of-type {
    font-size: 1.5rem;


}

.close-button {
    color: #aaa;
    float: right; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    top: 16px;
    right: 9px;
    background-color: #b94444;
    border-radius: 50%;
    width: 8%;
}


.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.modal-content ul li, .filtros-ordenamiento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 2px 0;
}


.filtros-ordenamiento {
    padding: 0 0 10px 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
}


.cantidad-controles {
    padding-left: 5px;
}

.cantidad-controles button {
    background-color: #1e7323;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em;
    margin: 0 5px;
    width: 24px;
    font-weight: bold;
    
}

.cantidad-controles button.eliminar {
    background-color: #dc3545;
}

.cantidad-controles button:hover {
    opacity: 0.8;
}

#total-carrito {
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
}

#item-count {
    padding: 5px 10px;
    background-color: rgb(234, 125, 29);
    border-radius: 50%;
    text-align: center;
}


.checkout-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    width: 100%;
    margin-top: 20px;
    font-size: 1.1em;
}

.checkout-button:hover {
    background-color: #218838;
}

/* Responsiv para la modal */
@media (max-width: 600px) {
    .modal-content {
        width: 95%; 
        margin: 20px auto; 
    }

    

}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}


@media screen and (max-width: 860px) {
    

    
    footer ul {
        flex-direction: column;
    }
}


footer {
    padding: 2rem;
    background-color: #333;
    color: aliceblue;
}

/*modal OFERTAS*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center; 
    align-items: center; 
    /* Animación para aparecer/desaparecer suavemente */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; /* deja hacer clic a través del fondo cuando no es visible */
}

.modal.visible {
    display: flex; 
    opacity: 1;
    pointer-events: auto; /* Habilitar interacción cuando es visible */
}

/* Contenido de la modal */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    position: relative;
    border-radius: 8px;
}

/* Estilos para que se vea más como un banner flotante*/
#oferta-modal .modal-content {
    background-color: rgb(170, 80, 169);
    color: white;
    border: 3px solid #390894; 
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    max-width: 800px;
}

#oferta-modal h2 {
    font-family: "Fascinate", system-ui, 'Trebuchet MS';
    font-weight: 400;
    font-style: normal
}

#oferta-modal .modal-content img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
}

/* Animación para que la modal aparezca desde arriba */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

form {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    width: 92%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    & h2 {
        background-color: #28a745;
    }
}

form input {
    border-radius: 9px;
    border: #b94444 2px solid;
    height: 2.5rem
}

#checkout-modal p {
    background-color: #3227b5;
    color: white;
    font-weight: bold;
}